* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: bisque;
}

header {
  background-color: rgb(6, 6, 17);
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

h1{
  color: beige;
  font-size: 20px;
}

#bar{
  display: flex;
  flex-direction: row; 
  justify-content: flex-end;
  align-items: flex-end;
   width: 85%;
  color: beige;
}

.top-img{
  width: 100%;
  height: 240px;
}

.hero-banner { 
  border: solid beige;
  
}

#sub-title{
  text-align: right;
  background-color: black;
  color: beige;
  
}


.parent-container{
  display: grid;
  width: 100%;
  height: 200px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}
  
.grid-item {
  text-align: center;
}
.grid-item img{
  max-width: 100%;
  height: auto;
  display: block;
}

h2{
  text-align: center;

}

P{
  font-family: 'Times New Roman', Times, serif;
}

#work img{
  width: 100%;
  height: 80%;
  object-fit: cover;
  margin-bottom: 300px;
  
}


.page-section.contact{
  clear: both;
  display: block;
  margin-top: 500px;
}


@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}